<%- include("header") -%>

<% newslist.forEach(news => { %>
    <div class="news_component" style="border: 1px solid black; border-radius: 5px; display: inline-block;">
        <h3><%=news.start_date%></h3>
        <h3><%=news.end_date%></h3>
        <p><%=news.headline%></p>
        <p><%=news.message%></p>
        <p><%=news.color%></p>
    </div>
<% }) %>

<!-- <img src="<%=// news_image %> " style="height: 100px; width: 100px;" alt=""> -->

<%- include("footer") -%>